:root {
  --basic-red: #EE3643;
  --dark-blue: #293449;
  --basic-green: #63A63E;
  --white: #FFFFFF;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --grey: #B7BFC8;
  --silver-grey: #F3F7F9;
  --basic-black: #000000;
  --basic-background: #F1F5F7;
  --warning: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --active-red: #BA2732;
  --light-grey: #EAEAEA;
  --nav-color: #32425C;
  --beige: #F9F5F0;
  --price-color: #A9A9A9;
  --inset-shadow: #405069;
  --hover-red: #CA2C37;
  --filters-color: #F7F3EC;
  --filters-button: #E5E5E5;
  --font-main: 'Cuprum', sans-serif;
  --font-secondary: 'PT Sans', sans-serif;
  --dark-red: #c33;
  --socials-background: #212A3A;
  --toggle-color: #ABABAB;
  --buy-active: #518534;
  --checkbox-hover: #B5B5B5;
  --background-submit: #F4F4F4;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  min-height: 100%;
  display: grid;
}

a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

address {
  margin-top: 5px;
  font-family: var(--font-main);
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header {
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.top-nav {
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}

.top-nav a {
  color: var(--white);
  text-decoration: none;
  line-height: 42px;
  padding: 0 20px;
  text-align: center;
}

.top-nav a:hover {
  background-color: #161D29;
}

.top-nav a:hover .icon {
  filter: opacity(1);
}

.logo {
  line-height: 64px;
  text-align: center;
  width: 220px;
  background-color: var(--basic-red);
  text-transform: uppercase;
  box-shadow: 0px 5px 0px 0px var(--dark-red);
  font-size: 24px;
}

.top-nav>.container-flex>div>.logo:active {
  background-color: var(--active-red);
}

.top-nav .logo:hover {
  background-color: var(--basic-red);
}

.search-form {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.search-form label {
  filter: opacity(0.5);
  content: url("../img/icon/search.svg");
}

.search-form input {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 0;
}

.search-form input:focus {
  background-color: var(--white);
  color: var(--basic-black);
}

.search-form input::placeholder {
  color: var(--white);
}

.icon-bookmark {
  filter: opacity(0.5);
  height: 16px;
  width: 14px;
  background-image: url("../img/icon/bookmark.svg");
  margin-right: 9px;
}

.icon-busket {
  filter: opacity(0.5);
  height: 15px;
  width: 15px;
  background-image: url("../img/icon/smalltrolley.svg");
  margin-right: 8px;
}

.contacts-block>.contacts-phone>address {
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
}

.sign-up {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 121px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--white);
  display: inline-block;
}

.icon-sign-up:hover {
  color: var(--basic-red);
}

.icon-profile {
  width: 20px;
  height: 18px;
  background-image: url("../img/icon/user.svg");
  margin-right: 19px;
}

.icon-profile:hover {
  filter: brightness(0.4);
}

.icon-logout {
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/login.svg");
  margin-left: 20px;
}

.icon-logout:hover {
  filter: brightness(0.4);
}

.current-busket {
  background-color: var(--basic-red);
}

.top-nav .checkout {
  background-color: var(--basic-green);
}

.top-nav .checkout:hover {
  background-color: var(--success);
}

.top-nav .checkout:active {
  filter: opacity(0.8);
}

.shop-description {
  display: inline-block;
  vertical-align: middle;
  font-style: italic;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.sign-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-block a {
  background-color: var(--white);
  padding: 10px 20px;
  color: var(--basic-black);
  margin-left: 10px;
}

.sign-block a:hover {
  color: var(--basic-red);
}

.sign-block a:hover .icon {
  filter: brightness(0.4);
}

.sign-in {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 121px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--white);
}

.icon-sign-in {
  margin-right: 7px;
  height: 17px;
  width: 20px;
  background-image: url("../img/icon/login.svg");
}


.catalog-sign-block {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: var(--white);
  width: 299px;
  line-height: 45px;
  margin-bottom: -20px;
}

.catalog-sign-block a {
  color: var(--basic-black);
}

.catalog-sign-block a:hover {
 color: var(--basic-red);
}

.catalog-sign-block a:active {
  filter: opacity(0.8);
  color: var(--basic-greylight);
}

.catalog-sign-block a:hover .icon {
  filter: brightness(0.4);
}

.catalog-sign-block a:active .icon {
  filter: opacity(0.8);
}

.profile-options {
  background-color: var(--basic-background);
  font-size: 16px;
  color: var(--nav-color);
}

.profile-options:hover {
  color: var(--basic-red);
}

.profile-options:active {
  color: var(--basic-greylight);
  filter: opacity(0.8);
}

.contacts-block {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
}

.contacts-phone {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  padding: 7px 55px;
  color: var(--basic-red);
  border: 3px solid var(--white);
  font-weight: 700;
  font-size: 21px;
}

.contacts-phone::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 26px;
  width: 18px;
  height: 19px;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 0px 5px 0px 0px var(--dark-blue);
  background-color: var(--nav-color);
  padding: 0 20px;
}

.site-navigation a {
  display: block;
  color: var(--white);
  padding: 16px 0;
  text-align: center;
}

.site-navigation a:hover {
  background-color: var(--dark-blue);
}

.breadcrumbs {
  display: flex;
  margin-top: 20px;
}

.breadcrumbs a {
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs>li:not(:first-child)>a::before {
  content: ">";
  padding: 0 10px;
  color: var(--basic-greylight);
}

.main-header {
  background-color: var(--basic-background);
  padding: 32px 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: start;
}

.filters {
  margin-right: 10px;
}

.filters-header {
  background-color: var(--filters-color);
  padding: 10px 20px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting a:hover {
  border-bottom: 1px solid var(--basic-red);
  color: var(--basic-black);
}

.filters-field {
  border: 0;
  border-bottom: 1px solid var(--light-grey);
  padding: 20px 0px;
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 19px;
}

.filters-field:last-child {
  border: none;
}

.filters-field legend {
  padding-top: 10px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters-field input[type="number"] {
  background-color: var(--filters-color);
  border: none;
  padding: 10px 15px;
  text-align: center;
  line-height: 18px;
}

.filters-field label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  padding: 5px 0;
  display: block;
}

.filters-field input[type="checkbox"]+label:before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-greylight);
  border-radius: 3px;
}


.filters-field input[type="checkbox"]+label:hover:before {
  border: 2px solid var(--checkbox-hover);
}


.filters-field input[type="checkbox"]+label {
  margin-left: 30px;
  margin-bottom: 10px;
}

.filters-field input[type="checkbox"]:checked+label:after {
  content: "";
  position: absolute;
  left: -30px;
  top: 2px;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-field input[type="radio"]:checked+label:after {
  content: "";
  position: absolute;
  left: -24px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filters-field input[type="radio"]+label:before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.filters-field input[type="radio"]+label:hover:before {
  border: 4px solid var(--checkbox-hover);
}

.filters-field input[type="radio"]+label {
  margin-left: 30px;
  margin-bottom: 10px;
}

.filters-button {
  width: 100%;
  margin-top: -1px;
  font-size: 13px;
  line-height: 38px;
  color: var(--basic-black);
  text-transform: uppercase;
  border: 1px solid var(--light-grey);
  background-color: var(--white);
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--filters-color);
  padding-top: 39px;
  padding-right: 18px;
  padding-left: 18px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-greylight);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: var(--toggle-color);
  border: 8px solid var(--white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-color);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--filters-color);
  font-family: inherit;
  font-size: inherit;
}

.pagination a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-secondary);
  line-height: 1;
  font-size: 13px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--white);
  border: 1px solid var(--filters-button);
  border-radius: 2px;
  padding: 8px 14px 10px 14px;
}

.pagination .current {
  background-color: var(--basic-red);
  color: var(--white);
  border-color: var(--basic-red);
}

.pagination a:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination a:active {
  border: 1px solid var(--basic-red);
}

.pagination>li:last-child>a {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.pagination {
  margin: 40px 0px;
}

.sorting {
  background-color: var(--filters-color);
  padding: 10px 20px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting a {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: normal;
  color: var(--grey);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting .current-sorting {
  color: var(--basic-red);
  border: 0;
}

.sorting li {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 40px;
}

.features {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  padding: 0;
  gap: 20px;
}

.feature {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  padding: 20px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-button {
  display: inline-block;
  vertical-align: middle;
  width: 135px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  margin-top: 11px;
  background-color: rgba(255, 255, 255, 0.3);
}

.features-button:hover, .features-button:focus {
  background-color: #C5C5C555;
}

.features-button:focus, .features-button:active {
  background-color: #A9A9A955;
}

.icon-left {
  position: absolute;
  top: 45%;
  left: 20px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon/left.svg");
}

.icon-right {
  position: absolute;
  top: 45%;
  right: 20px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon/left.svg");
  transform: rotate(180deg);
}

.materials {
  background-color: var(--warning);
}

.icon-bucket {
  content: url("../img/icon/bucket.svg");
}

.instruments {
  background-color: var(--special-blue);
}

.icon-drel {
  content: url("../img/icon/drel.svg");
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--price-color);
}

.technics {
  background-color: var(--special-lilac);
}

.icon-tractor {
  content: url("../img/icon/tractor.svg");
}

.discounts {
  background-color: var(--special-greenlight);
}

.icon-trolley {
  content: url("../img/icon/trolley.svg");
}

.delivery {
  background-color: var(--warning);
}

.icon-truck {
  content: url("../img/icon/truck.svg");
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
}

.slider-header {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--white);
  padding: 20px;
}

.slider-header>h2 {
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.slider>.section-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.section-header {
  height: 89px;
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.section-header>h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--nav-color);
  text-transform: uppercase;
  font-weight: normal;
}

.section-button {
  padding: 10px 20px;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.section-button:hover {
  background-color: var(--hover-red);
}

.section-button:active {
  background-color: var(--active-red);
}

.goods-list {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.goods-list-catalog {
  margin-top: 20px;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.goods-list li {
  position: relative;
}

.goods-list-catalog li {
  position: relative;
}

.goods-list li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.goods-list-catalog li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.goods-item {
  border: 1px solid var(--light-grey);
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
  padding: 20px;
  display: block;
  text-align: center;
}

.goods-item>div {
  padding-bottom: 10px;
}

.goods-item-new {
  background-image: url("../img/other/new.png");
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
}

.old-price {
  font-size: 17px;
  min-height: 30px;
  color: var(--price-color);
  text-decoration: line-through;
  margin-bottom: 10px;
  font-family: var(--font-secondary);
}

.new-price {
  position: relative;
  margin-left: -10px;
  padding: 8px 30px;
  background-color: var(--basic-red);
  color: var(--white);
  font-family: var(--font-secondary);
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.new-price:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  right: -19px;
  border-color: transparent transparent transparent var(--basic-red);
  border-width: 19px 0 19px 19px;
}

.buy-button {
  padding: 10px 20px;
  background-color: var(--basic-green);
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 10px;
  border-radius: 2px;
}

.buy-button:hover {
  background-color: var(--success);
}

.buy-button:active {
  background-color: var(--buy-active);
}

.buy-button i {
  margin-right: 10px;
}

.icon-smalltrolley {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/smalltrolley.svg");
}

.bookmark-button {
  padding: 10px 20px;
  background-color: var(--white);
  font-size: 14px;
  line-height: 18px;
  color: var(--nav-color);
  text-transform: uppercase;
  border: 2px solid var(--basic-green);
  border-radius: 2px;
}

.bookmark-button:hover {
  border: 2px solid var(--nav-color);
}

.bookmark-button:active {
  border: 2px solid var(--basic-greylight);
  color: var(--basic-greylight);
}

.goods-actions {
  text-align: center;
  background-color: var(--white);
  position: absolute;
  top: 0;
  width: 100%;
  height: 170px;
  padding: 40px;
  display: none;
}

.goods-list-catalog li:hover .goods-actions {
  display: block;
}

.goods-actions>a {
  display: block;
}

.section-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  gap: 16px 20px;
  margin-bottom: 70px;
}

.section-list img:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border: none;
}

.section-list img:active {
  filter: opacity(50%);
}

.section-seo {
  background-color: var(--basic-background);
  padding: 40px 0;
}

.section-seo h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.section-seo p {
  font-family: var(--font-secondary);
  font-size: 13px;
}

.services {
  background-color: var(--basic-background);
  padding: 40px 0;
}

.services p {
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.bigtruck {
  content: url("../img/other/truck.png");
  margin-left: -120px;
}

.services-list {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  width: 240px;
}

.services-list>li {
  background-color: var(--nav-color);
  color: var(--white);
  padding: 15px 20px;
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--inset-shadow);
}

.services-list>.active {
  background-color: var(--white);
  color: var(--nav-color);
  box-shadow: none;
}

.services-list>.active:hover {
  background-color: var(--white);
}

.services-list>li:hover {
  background-color: var(--dark-blue);
}

.services-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-description {
  padding: 25px 0px 25px 80px;
  margin-left: -10px;
  z-index: 1000;
  background-image: url(../img/other/shadow.png);
  background-position: left, 0 0;
  background-repeat: no-repeat, repeat;
}

.services-description h3 {
  text-transform: uppercase;
  color: var(--nav-color);
  font-size: 30px;
  font-weight: 400;
  font-family: var(--font-main);
  line-height: 30px;
}

.about {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 70px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about p {
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.about h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.transport-list {
  color: var(--basic-black);
  margin-bottom: 25px;
}

.transport-list>li::before {
  content: '—';
  color: var(--basic-red);
  margin-right: 10px;
  vertical-align: text-bottom;
  font-size: 2em;
}

.map {
  margin-bottom: 25px;
  border: none;
}

.main-footer {
  background-color: var(--nav-color);
  color: var(--white);
}

.main-footer a {
  text-decoration: none;
  color: var(--white);
}

.main-footer>.container>div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-goods {
  display: flex;
}

.footer-navigation li, .footer-goods li {
  text-decoration: none;
  margin-right: 50px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-goods a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: var(--basic-background);
  filter: opacity(0.5);
  text-decoration: none;
}

.footer-goods a:active {
  color: var(--special-yellowlight);
  filter: opacity(0.5);
  text-decoration: none;
}

.footer-navigation {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 40px;
}

.footer-goods>li>a {
  color: var(--special-yellowlight);
}

.footer-contacts {
  background-color: var(--dark-blue);
  font-size: 16px;
  line-height: 18px;
  padding: 20px 0;
  margin-top: 30px;
}

.footer-contacts p {
  margin: 0;
}

.footer-contacts a {
  color: var(--special-yellowlight);
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-contacts a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-contacts>.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.socials>li>a {
  width: 44px;
  height: 44px;
  background-color: var(--socials-background);
  border-radius: 50%;
  line-height: 44px;
  text-align: center;
}

.socials>li {
  display: inline-block;
}

.socials>li>a>i {
  vertical-align: text-bottom;
}

.socials>li>a:hover {
  background-color: var(--basic-red);
}

.socials>li>a:active {
  background-color: var(--basic-red);
}

.socials a {
  display: block;
}

.icon-vk {
  width: 25px;
  height: 14px;
  background-image: url("../img/icon/vk.svg");
}

.icon-fb {
  width: 12px;
  height: 22px;
  background-image: url("../img/icon/fb.svg");
}

.icon-insta {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon/insta.svg");
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: var(--basic-black);
  background-color: var(--white);
  box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.15));
  z-index: 10000;
}

.modal-close {
  position: absolute;
  right: 0px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon/cross.svg");
  border: none;
}

.modal-feedback {
  top: 120px;
  bottom: auto;
  width: 620px;
  border-top: 7px solid var(--basic-red);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.feedback-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 37px 80px;
}

.message {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
}

.feedback-form input {
  margin-top: 10px;
  border: 2px solid var(--basic-greylight);
  padding: 5px 10px;
  width: 100%;
  border-radius: 2px;
}

.feedback-form .section-button
{
  width: 100%;
  border: none;
}

.feedback-submit {
  background-color: var(--background-submit);
  padding: 37px 80px;
}

.modal-error {
  animation: shake 0.6s;
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}