:root {
  --basic-red: #EE3643;
  --dark-blue: #293449;
  --basic-green: #63A63E;
  --white: #FFFFFF;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --grey: #B7BFC8;
  --silver-grey: #F3F7F9;
  --basic-black: #000000;
  --basic-background: #F1F5F7;
  --warning: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --active-red: #BA2732;
  --light-grey: #EAEAEA;
  --nav-color: #32425C;
  --beige: #F9F5F0;
  --price-color: #A9A9A9;
  --inset-shadow: #405069;
  --hover-red: #CA2C37;
  --filters-color: #F7F3EC;
  --filters-button: #E5E5E5;
  --font-main: 'Cuprum', sans-serif;
  --font-secondary: 'PT Sans', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  min-height: 100%;
  display: grid;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header {
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
}

.top-nav {
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 18px;
  line-height: 24px;
}

.top-nav a {
  color: var(--white);
  text-decoration: none;
}

.logo {
  display: inline-block;
  text-align: center;
  width: 220px;
  height: 47px;
  line-height: 47px;
  background-color: var(--basic-red);
  font-family: var(--font-main);
  text-transform: uppercase;
  color: var(--white);
}

.logo:active {
  background-color: var(--active-red);
}

.search-form {
  display: inline-block;
}

.search-form label {
  content: url("../img/icon/search.svg");
}

.search-form input {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 0;
}

.search-form input:focus {
  background-color: var(--white);
  color: var(--basic-black);
}

.search-form input::placeholder {
  color: var(--white);
}

.icon-bookmark {
  height: 16px;
  width: 14px;
  background-image: url("../img/icon/bookmark.svg");
}

.icon-bookmark:hover {
  filter: brightness(1000%);
}

.icon-busket {
  height: 15px;
  width: 15px;
  background-image: url("../img/icon/smalltrolley.svg");
}

.sign-up {
  display: inline-block;
  text-align: center;
  width: 121px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--white);
  display: inline-block;
}

.icon-sign-up:hover {
  color: var(--basic-red);
}

.icon-profile {
  width: 20px;
  height: 18px;
  background-image: url("../img/icon/user.svg");
}

.icon-logout {
  width: 20px;
  height: 17px;
  background-image: url("../img/icon/login.svg");
}

.current-busket {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 42px;
  line-height: 42px;
  background-color: var(--basic-red);
}

.checkout {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 42px;
  line-height: 42px;
  background-color: var(--basic-green);
  display: inline-block;
}

.checkout:hover {
  background-color: var(--success);
}

.shop-description {
  display: inline-block;
  font-style: italic;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.sign-block {
  display: inline-block;
  background-color: var(--white);
  padding: 10px 20px;
}

.sign-block a {
  color: var(--basic-black);
}

.sign-in {
  display: inline-block;
  text-align: center;
  width: 121px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--white);
}

.icon-sign-in {
  height: 17px;
  width: 20px;
  background-image: url("../img/icon/login.svg");
}

.icon-sign-in:hover {
  color: var(--basic-red);
}

.icon-sign-in:hover {
  filter: brightness(0%);
}

.contacts-block {
  display: inline-block;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
}

.contacts-block>address {
  font-style: normal;
}

.contacts-phone {
  display: inline-block;
  width: 270px;
  padding: 10px 40px;
  color: var(--basic-red);
  border: 3px solid var(--white);
  font-weight: 700;
  font-size: 21px;
}

.contacts-phone::before {
  content: url("../img/icon/phone.svg")
}

.site-navigation {
  background-color: var(--nav-color);
  justify-content: space-evenly;
}

.site-navigation a {
  display: block;
  color: var(--white);
  padding: 18px 20px;
}

.site-navigation a:hover {
  background-color: var(--dark-blue);
}

.breadcrumbs {
  display: flex;
  margin-top: 20px;
}

.breadcrumbs a {
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs>li:not(:first-child)>a::before {
  content: ">";
  padding: 0 10px;
  color: var(--basic-greylight);
}

.main-header {
  background-color: var(--basic-background);
  padding: 32px 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: start;
}

.filters-header {
  background-color: var(--filters-color);
  padding: 10px 20px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.filters-field {
  border: 0;
  border-bottom: 1px solid var(--light-grey);
  padding: 20px 0px;
  font-family: var(--font-secondary);
  font-size: 17px;
}

.filters-field:last-child {
  border: none;
}

.filters-field legend {
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters-field input[type="text"] {
  background-color: var(--filters-color);
  border: none;
  padding: 10px 15px;
  text-align: center;
  line-height: 18px;
}

.filters-field label {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  padding: 5px 0;
  display: block;
}

.filters-button {
  width: 100%;
  padding: 5px 40px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  border: 1px solid var(--light-grey);
  background-color: var(--white);
}

.pagination a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font-secondary);
  line-height: 1;
  font-size: 13px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--white);
  border: 1px solid var(--filters-button);
  border-radius: 2px;
  padding: 8px 14px 10px 14px;
}

.pagination .current {
  background-color: var(--basic-red);
  color: var(--white);
  border-color: var(--basic-red);
}

.pagination>li:last-child>a {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination li {
  display: inline-block;
  padding-right: 10px;
}

.pagination {
  margin: 40px 0px;
}

.sorting {
  background-color: var(--filters-color);
  padding: 10px 20px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting a {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: normal;
  color: var(--grey);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting .current-sorting {
  color: var(--basic-red);
  border: 0;
}

.sorting li {
  text-decoration: none;
  display: inline-block;
  padding: 0px 40px;
}

.features {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  padding: 0;
  gap: 20px;
}

.feature {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  padding: 20px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-button {
  display: inline-block;
  width: 135px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  margin-top: 11px;
  background-color: rgba(255, 255, 255, 0.3);
}

.features-button:hover, .features-button:focus {
  background-color: #C5C5C555;
}

.features-button:focus, .features-button:active {
  background-color: #A9A9A955;
}

.icon-left {
  position: absolute;
  top: 45%;
  left: 20px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon/left.svg");
}

.materials {
  background-color: var(--warning);
}

.icon-bucket {
  content: url("../img/icon/bucket.svg");
}

.instruments {
  background-color: var(--special-blue);
}

.icon-drel {
  content: url("../img/icon/drel.svg");
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--price-color);
}

.technics {
  background-color: var(--special-lilac);
}

.icon-tractor {
  content: url("../img/icon/tractor.svg");
}

.discounts {
  background-color: var(--special-greenlight);
}

.icon-trolley {
  content: url("../img/icon/trolley.svg");
}

.delivery {
  background-color: var(--warning);
}

.icon-truck {
  content: url("../img/icon/truck.svg");
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
}

.slider-header {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--white);
  padding: 20px;
}

.slider-header>h2 {
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.slider>.section-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.section-header {
  height: 89px;
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.section-header>h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--nav-color);
  text-transform: uppercase;
  font-weight: normal;
}

.section-button {
  padding: 10px 20px;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
}

.section-button:hover {
  background-color: var(--hover-red);
}

.goods-list {
  margin-top: 20px;
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.goods-list li {
  position: relative;
}

.goods-list li:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
}

.goods-item {
  border: 1px solid var(--light-grey);
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
  padding: 10px;
  display: block;
  text-align: center;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--price-color);
  text-decoration: line-through;
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  font-weight: 700;
  background-color: var(--basic-red);
}

.buy-button {
  padding: 10px 20px;
  background-color: var(--basic-green);
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.buy-button i {
  margin-right: 10px;
}

.icon-smalltrolley {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/smalltrolley.svg");
}

.bookmark-button {
  padding: 10px 20px;
  background-color: var(--white);
  font-size: 14px;
  line-height: 18px;
  color: var(--nav-color);
  text-transform: uppercase;
  border: 2px solid var(--basic-green);
}

.goods-actions {
  text-align: center;
  background-color: var(--white);
  position: absolute;
  top: 0;
  width: 100%;
  height: 164px;
  padding: 40px;
  display: none;
}

.goods-list li:hover .goods-actions {
  display: block;
}

.goods-actions>a {
  display: block;
}

.section-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  gap: 20px 20px;
}

.section-seo {
  background-color: var(--basic-background);
  padding: 40px 0;
}

.section-seo h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.section-seo p {
  font-family: var(--font-secondary);
  font-size: 13px;
}

.services {
  background-color: var(--basic-background);
  padding: 40px 0;
}

.servises p {
  font-family: var(--font-secondary);
  font-size: 13px;
}

.servises h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.servises h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--nav-color);
  text-transform: uppercase;
}

.bigtruck {
  content: url("../img/other/truck.png");
}

.servises-list {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  width: 240px;
}

.servises-list>li {
  background-color: var(--nav-color);
  color: var(--white);
  padding: 10px 20px;
  box-shadow: 0px 1px 0px var(--dark-blue), inset 0px 1px 0px var(--inset-shadow);
}

.servises-list>.active {
  background-color: var(--white);
  color: var(--nav-color);
  box-shadow: none;
}

.servises-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servises-description {
  margin-left: 40px;
}

.about {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 70px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about p {
  font-family: var(--font-secondary);
  font-size: 13px;
  line-height: 24px;
}

.about h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.transport-list {
  color: var(--basic-black);
  margin-bottom: 25px;
}

.transport-list>li::before {
  content: '—';
  color: var(--basic-red);
  margin-right: 10px;
  vertical-align: text-bottom;
  font-size: 2em;
}

.map {
  margin-bottom: 25px;
}

.main-footer {
  background-color: var(--nav-color);
  color: var(--white);
}

.main-footer a {
  color: var(--white);
}

.main-footer>.container>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation li, .footer-goods li {
  display: inline-block;
}

.footer-goods>li>a {
  color: var(--special-yellowlight);
}

.footer-contacts {
  background-color: var(--dark-blue);
}

.footer-contacts a {
  color: var(--special-yellowlight);
}

.footer-contacts>.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials>li {
  display: inline-block;
}

.icon-vk {
  content: url("../img/icon/vk.svg");
}

.icon-fb {
  content: url("../img/icon/fb.svg");
}

.icon-insta {
  content: url("../img/icon/insta.svg");
}