:root {
    --basic-red: #EE3643;
    --dark-blue: #293449;
    --basic-green: #63A63E;
    --white: #FFFFFF;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --grey: #B7BFC8;
    --silver-grey: #F3F7F9;
    --basic-black: #000000;
    --basic-background: #F1F5F7;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --Error: #BA2732;
    --light-grey: #EAEAEA;
    --nav-color: #32425C;
    --beige: #F9F5F0;
    --price-color: #A9A9A9;
}

body {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    min-width: 960px;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--basic-background);
}

.top-nav {
    width: 100%;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 18px;
    line-height: 24px;}

.top-nav a {
    color: var(--white);
    text-decoration: none;
}

.logo {
    display: inline-block;
    text-align: center;
    width: 220px;
    height: 47px;
    line-height: 47px;
    background-color: var(--basic-red);
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
}

.search-form {
    display: inline-block;
}

.search-form label::before {
    content: url("../img/icon/search.svg");
}

.bookmark::before {

    content: url("../img/icon/bookmark.svg");
}

.busket::before {
    content: url("../img/icon/smalltrolley.svg");
}

.sign-up {
    display: inline-block;
    text-align: center;
    width: 121px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--white);
    display: inline-block;
}

.checkout {
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 42px;
    line-height: 42px;
    background-color: var(--basic-green);
    display: inline-block;
}

.shop-description {
    display: inline-block;
    font-style: italic;
    color: var(--basic-red);
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}

.sign-block {
    display: inline-block;
}
.sign-in {
    display: inline-block;
    text-align: center;
    width: 121px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--white);
}

.sign-in::before {
    content: url("../img/icon/login.svg")
}

.contacts-block {
    display: inline-block; 
}
.contacts-phone {
    width: 270px;
    height: 45px;
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    border: 3px solid var(--white);
}

.contacts-phone::before {
    content: url("../img/icon/phone.svg")
}

.site-navigation {
    background-color: var(--nav-color);
    list-style: none;
}


.site-navigation li {
    display: inline-block;
    height: 60px;
    line-height: 60px;
}

.site-navigation a {
    color: var(--white);
}

.feature {
    width: 256px;
    height: 123px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--white);
    padding: 0 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.materials {
    background-color: var(--special-yellow);
}

.icon-bucket {
    content: url("../img/icon/bucket.svg");
}

.instruments {
    background-color: var(--special-blue);
}

.icon-drel {
    content: url("../img/icon/drel.svg");
}

.prise {
    font-size: 17px;
    line-height: 18px;
    color: var(--prise-color);
}

.technics {
    background-color: var(--special-lilac);
}

.icon-tractor {
    content: url("../img/icon/tractor.svg");
}

.discounts {
    background-color: var(--special-greenlight);
}

.icon-trolley {
    content: url("../img/icon/trolley.svg");
}

.delivery {
    background-color: var(--special-yellow);
}

.icon-truck {
    content: url("../img/icon/truck.svg");
}

.features-button {
    display: inline-block;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 11px;
    background-color: rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.features-button:hover,
.features-button:focus,
.features-button:active {
  background-color: var(--basic-greylight);
}

.slider-button {
    width: 192px;
    height: 38px;
    background-color: var(--basic-red);
    color: var(--white);
    text-transform: uppercase;
}

.section-header {
    height: 89px;
    background-color: var(--beige);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.section-header>h2 {
    font-size: 30px;
    line-height: 30px;
    color: var(--nav-color);
    text-transform: uppercase;
    font-weight: normal;
}

.section-header>a {
    padding: 10px 20px;
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-transform: uppercase;
}

.goods-list {
    list-style: none;
}

.goods-item {
    border: 1px solid;
    border-color: var(--light-grey);
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: var(--basic-black);
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: var(--price-color);
}

.new-price {
    font-size: 17px;
    line-height: 18px;
    color: var(--white);
    font-weight: 700;
    background-color: var(--basic-red);
}

.section-list {
    list-style: none;
}
